@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

.page {
    display: none;
}
.page.active {
    display: block;
}

/* login */
html, .genbody {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgba(28, 49, 68, 1);
    overflow: hidden;
    display: flex;
    justify-content: center; 
    align-items: center; 
    font-family: "Poppins", sans-serif;
    font-weight: 800;
}

.login-card {
    width: 30vw; 
    height: 60vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
    align-items: center; 
    border-radius: 10px;
}

.login h1 {
    color: black;
    margin: 0; 
    padding-bottom: 30px;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.input-field {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-button, .acc-button {
    width: 80%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-button:hover, .acc-button:hover {
    background-color: #0056b3;
}


/*  Now Playing     :    雁首、揃えてご機嫌よう　歌ってみた／宮下遊
0:00●━━━━━━━━━━───●3:41
 ⇆      ◁        ❚❚ㅤㅤ      ▷ㅤ        ↻ */

/* account page */
.accbutton {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-top: 10px;
}

.acc-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-top: 5%;
}


.account-card {
    width: 35vw; 
    height: 85vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
    align-items: center; 
    border-radius: 10px;
}

.account h1 {
    color: black;
    margin: 0; 
    padding-bottom: 10px;
    padding-left: 10px;
    text-align: center;
    font-weight: 800;
    font-family: "Poppins", sans-serif;
}

.account .p1 {
    color: black;
    margin: 10px; 
    padding-bottom: 10px;
}

.account .p2 {
    color: black;
    margin: 10px; 
    padding-bottom: 10px;
}
.account .p3 {
    color: black;
    margin: 10px; 
    padding-bottom: 10px;
}

.account .p4 {
    color: black;
    margin: 10px; 
    padding-bottom: 10px;
}

.account .p5 {
    color: black;
    margin: 10px; 
    padding-bottom: 10px;
}

.bold {
    font-weight: bold;
}

.acc-back {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.back-button {
    width: 80%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.back-button:hover {
    background-color: #0056b3;
}

/*  Now Playing     :    雁首、揃えてご機嫌よう　歌ってみた／宮下遊
0:00●━━━━━━━━━━───●3:41
 ⇆         ㅤ ◁         ㅤㅤ❚❚ㅤㅤ         ▷ㅤ          ㅤ↻ */
/* home */





/*  Now Playing     :    雁首、揃えてご機嫌よう　歌ってみた／宮下遊
0:00●━━━━━━━━━━───●3:41
 ⇆         ㅤ ◁         ㅤㅤ❚❚ㅤㅤ         ▷ㅤ          ㅤ↻ */




/* phone dimension  */
@media (max-width: 768px) {
    .login-card {
        width: 80vw;
    }

    .account-card {
        width: 90vw;
    }

    .account h1 {
        color: black;
        margin: 0; 
        padding-bottom: 10px;
        padding-left: 10px;
        text-align: center;
    }
    
    .account .p1 {
        color: black;
        margin: 10px; 
        padding-bottom: 10px;
        font-size: 12px;
    }
    
    .account .p2 {
        color: black;
        margin: 10px; 
        padding-bottom: 10px;
        font-size: 12px;
    }
    .account .p3 {
        color: black;
        margin: 10px; 
        padding-bottom: 10px;
        font-size: 12px;
    }
    
    .account .p4 {
        color: black;
        margin: 10px; 
        padding-bottom: 10px;
        font-size: 12px;
    }
    
    .account .p5 {
        color: black;
        margin: 10px; 
        padding-bottom: 10px;
        font-size: 12px;
    }
    
}
